<h1>Listing Problems</h1>
<%= link_to 'New Problem', new_problem_path %><br>
<table>
  <tbody>
    <% @problems.each do |problem| %>
    <tr>
      <td><%= problem.problem_url %></td>
      <td><%= link_to 'Show', problem %></td>
      <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
      <td><%= link_to 'Destroy', problem, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
  <tbody>
</table>
